mixin videoPlayer(video={})
    .videoPlayer#jsVideoPlayer <!--id=jsVideoPlayer-->
        video(src=`/${video.src}`)
        .videoPlayer__controls
            .videoPlayer__colunm
                span#jsVolumeBtn
                    i.fas.fa-volume-up
                span
                    span#currentTime 00:00:00
                    |/
                    span#totalTime 00:00:00
            .videoPlayer__colunm
                span#jsPlayButton
                    i.fas.fa-play
            .videoPlayer__colunm
                span#jsFullScreen 
                    i.fas.fa-expand